@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

:root
{
   --bg-color:#d4d4d4;
   --red:#da3422;
   --brown:#9c311A;
   --hover:#821d06;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.basic{
  background-color: var(--bg-color);
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/* //navbar css */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: solid gray !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}
/* =============================
==========footer============= */

.footer {
  /* border:solid 2px black; */
  background-color:black;
  background-image: url("https://mannalal.com/assets/img/footer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height:550px;
  /* padding:25px; */
  color: white;
  
}

.footer-data{
  font-size:30px;
  display: flex;
  gap:55px;
  margin:auto;
  padding-top:20px;
  max-width:1550px;
  /* border:solid 2px white; */
  justify-content: center;
  align-items: center;
}

.line
{
  max-width:1350px;
  margin:60px auto;
  height:8px;
}

.footer-text
{
  display:flex;
  align-items: center;
  font-size: 25px;
  /* border:solid 2px white; */
  max-width:1450px;
  margin:15px auto;
  justify-content: center;
}

.social-media
{
  padding: 25px;
  display: flex;

}

.links{
  /* border: solid 2px white; */
  height:85px;
  display: flex;
  align-items: center;
}
.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer-img
{
  border-radius: 50%;
  width:450px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}
/* =================================
======== page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}
/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==================== */
.product-link {
  text-decoration: none !important;
  color: black !important;
}

.card-add
{
  width:350px !important;
  height:500px;
  cursor: pointer;
  overflow: hidden !important;
  transition: all 0.5s ease;
  box-shadow: rgba(117, 111, 111, 0.598) 2px 5px 8px;
}

.card-add:hover{
  transform: scale(102%);
  box-shadow: rgba(54, 50, 50, 0.395) 2px 5px 8px;
}

.card-i{
  height:300px;
  width:100%;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.5s ease;
  overflow: hidden !important;
}

.card-i:hover{
  transform: scale(120%);
}

.btn-card
{
  display: flex;
  gap:10px;
}

.card-im
{
  width:350px;
  overflow: hidden;
}
.create-category
{
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0),url(""));
}
.bg
{
  background-image: url("https://mannalal.com/assets/img/reserve-a-table.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.log-img
{
  border-radius:50%;
  width:250px;
  box-shadow: rgba(34, 22, 22, 0) 5px 5px 5px;
}

.flex-col
{
  display: flex;
  flex-direction: column;
}

.cat-size
{
  font-size: 25px;
}

.line-1{
    border: none; /* Remove the default border */
    height: 10px;   /* Set the desired thickness */
    border-bottom: 5px solid red;
    /* background-color:red; You can also set a color for the line */
}

.slider1
{
  display: flex;
  flex-direction: row;
 justify-content: center;
 gap: 40px;
 
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  text-align: center; 
  font-size: 25px;
}
.card-img-top
{
   border-radius: 50%;
}
.cardwidth
{
  height: 500px;
  overflow: scroll;
}

.filter
{
  background-color: white;
  padding:20px;
  margin:10px;
  height:fit-content;
  border-radius: 10px;
}

/* Base styles for larger screens */
.pro-im {
  float: left;
  width: 50%;
  padding: 10px;
}

.product-img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-details {
  float: left;
  width: 50%;
  padding: 10px;
}

.head-p {
  font-size: 35px;
  margin-bottom: 20px;
}

.product-details h6 {
  font-size: 25px;
  margin: 10px 0;
}

.btn-add {
  background-color: #007bff;
  color: #fff;
  border: none;
  margin:15px 0;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-add:hover {
  background-color: #0056b3;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .pro-im, .product-details {
    width: 100%;
    float: none;
  }

  .product-img {
    width: 100%;
  }

  .head-p {
    font-size: 20px;
  }

  .product-details h6 {
    font-size: 16px;
  }
}

.product-card{
  background-color: white;
  border-radius: 10px;
  width:70%;
  display: flex;
  gap:25px;
  padding: 25px;
  margin:15px;
}

.explore-category
{
  background:linear-gradient(rgb(253, 97, 8),rgba(235, 56, 11, 0.939));
  color: white;
  text-decoration: none;
  padding:15px 25px;
  border-radius: 8px;
  font-size: 25px;
  min-width:350px;
  transition: all 0.5s ease;
  /* border:solid 2px black; */
}

.explore-category:hover{
  background: linear-gradient(var(--red),rgb(248, 20, 20));
}

.category-card
{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.923), rgba(185, 19, 19, 0.286)), url("./images1/badam-barfi.jpg");
  background-size: cover;
  padding: 80px;
  /* padding-bottom: 180px; */
  /* margin:auto; */
  box-shadow:rgba(0, 0, 0, 0.346) 5px 5px 15px;
  border: solid 2px black;
  height: 80vh;
  /* border-radius: 25px; */

}
.category-c{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.923), rgba(185, 19, 19, 0.286)), url("./images1/bg-common.jpg");
  background-size: cover;
  padding: 80px;
  /* padding-bottom: 180px; */
  /* margin:auto; */
  box-shadow:rgba(0, 0, 0, 0.346) 5px 5px 15px;
  border: solid 2px black;
  height: 80vh;
  /* border-radius: 25px; */
}

.bg-img{
  width: 99%;
  height: 99%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.923), rgba(185, 19, 19, 0.286)), url("./images1/bg-common.jpg");
  /* background: linear-gradient(to bottom, rgba(148, 146, 146, 0.595), rgba(88, 88, 88, 0.959)), url("./images1/bg-common.jpg"); */
  /* background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,)),url("./images1/badam-barfi.jpg"); */
  background-size: cover;
  color: white;
  font-size: 24px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(400px); /* Adjust the blur radius as needed */
}

.bg-img-c{
  width: 100%;
  height: 99%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.592), rgba(0, 0, 0, 0.768)), url("./images1/bg-common.jpg");
  /* background: linear-gradient(to bottom, rgba(148, 146, 146, 0.595), rgba(88, 88, 88, 0.959)), url("./images1/bg-common.jpg"); */
  /* background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,)),url("./images1/badam-barfi.jpg"); */
  background-size: cover;
  color: white;
  font-size: 24px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(400px);
}

.btn-ed{
  padding:10px 25px !important;
  margin-right: 10px;
  font-size: 20px;
}
.table{
  /* color:black !important; */
  border-radius: 25px;
  box-shadow: rgba(9, 8, 8, 0.916) 5px 5px 15px;
  background-color: rgba(23, 14, 14, 0.422);
}

.submit-btn
{
  border: none;
  background-color: rgb(25, 6, 64);
  padding: 10px 25px;
  width:100%;
  transition: all 0.5s ease;
  border-radius: 10px;
}

.submit-btn1
{
  border: none;
  background-color: rgb(25, 6, 64);
  padding: 10px 25px;
  width:80%;
  font-size: 25px;
  transition: all 0.5s ease;
  border-radius: 10px;
}

.submit-btn2{
  border: none;
  background-color: rgb(236, 117, 14);
  padding: 10px 25px;
  width:50%;
  font-size: 25px;
  box-shadow:rgba(195, 193, 193, 0.549) 2px 2px 15px 10px;
  transition: all 0.5s ease;
  border-radius: 10px;
}

.submit-btn2:hover
{
  background-color: rgb(197, 116, 11);
  padding: 15px 25px;
  width:50%;
  border-radius: 12px;
}

.submit-btn3{
  border: none;
  background-color: rgb(43, 170, 41);
  padding: 10px 25px;
  width:50%;
  box-shadow:rgba(195, 193, 193, 0.549) 2px 2px 15px 10px;
  font-size: 25px;
  transition: all 0.5s ease;
  border-radius: 10px;
}

.submit-btn3:hover
{
  background-color: rgb(12, 73, 10);
  padding: 15px 25px;
  width:50%;
  border-radius: 12px;
}


.submit-btn1:hover{
  background-color: rgb(51, 25, 101);
  padding: 15px 25px;
  width:80%;
  border-radius: 12px;
}
.submit-btn:hover{
  background-color: rgb(51, 25, 101);
  padding: 15px 25px;
  width:100%;
  border-radius: 12px;
}

.c-p-card{
  width:1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:auto;
  /* border: solid 2px white; */
}

.bg-white
{
  background-color: white;
  color: black;
}

.add{
  height:40vh;
}

.f-s
{
  font-size: 45px;
}